---
import { getCollection } from 'astro:content';
import { SITE, HOME } from '@consts';
import ArrowCard from '@components/ArrowCard.astro';
import Container from '@components/Container.astro';
import Layout from '@layouts/Layout.astro';
import Link from '@components/Link.astro';
import Photo from '@components/Photo.astro';
import Socials from '@components/Socials.astro';

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION} isHome={true}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="mb-4 flex justify-center">
        <Link href="/about">
          <Photo loading="eager" class="size-24 sm:size-32" />
        </Link>
      </div>

      <p class="mb-4 text-center font-light sm:text-lg">
        2 &times; dad, &epsilon; &times; programmer
        <span class="text-sm"><Link href="/about">more&hellip;</Link></span>
      </p>

      <Socials class="mb-8" />

      <section class="space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">Latest posts</h2>
          <Link href="/blog">See all posts</Link>
        </div>
        <ul class="not-prose grid grid-cols-1 gap-4 sm:grid-cols-2">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>
    </aside>
  </Container>
</Layout>
