---
import Container from '@components/Container.astro';
import BackToTop from '@components/BackToTop.astro';
import HIcon from '../../public/H.svg';
import Link from '@components/Link.astro';
import ThemeButton from '@components/ThemeButton.astro';
---

<footer class="animate">
  <Container>
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <HIcon aria-label="H icon" class="mr-2 size-5" />
        <Link href="https://github.com/halilim/website">Source</Link>
      </div>

      <div class="flex items-center">
        <div class="mr-3">
          <BackToTop />
        </div>

        <div class="footer-group flex flex-wrap items-center">
          <ThemeButton
            id="light-theme-button"
            aria-label="Light theme"
            otherClasses="rounded-l-full"
            iconName="material-symbols:wb-sunny-outline-rounded"
          />

          <ThemeButton
            id="system-theme-button"
            aria-label="System theme"
            iconName="material-symbols:monitor-outline-rounded"
          />

          <ThemeButton
            id="dark-theme-button"
            aria-label="Dark theme"
            otherClasses="rounded-r-full"
            iconName="material-symbols:moon-stars-outline-rounded"
          />
        </div>
      </div>
    </div>
  </Container>
</footer>
