---
import { Icon } from 'astro-icon/components';

const { otherClasses, iconName, ...props } = Astro.props;
---

<button
  {...props}
  class={`footer-btn group flex size-9 cursor-pointer items-center justify-center hover:bg-black/5 focus-visible:bg-black/5 dark:hover:bg-white/5 dark:focus-visible:bg-white/5 ${otherClasses}`}
>
  <Icon name={iconName} class="size-4" />
</button>
