---
import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Pagefind from '@components/PageFind.astro';
import { SITE } from '@consts';

type Props = {
  isHome?: boolean;
  title: string;
  description?: string;
};

const { isHome = false, title: pageTitle, description = '' } = Astro.props;
const title = [pageTitle, SITE.TITLE].filter(Boolean).join(' | ');
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <noscript>
      <style>
        .animate {
          opacity: 1;
          translate: var(--tw-translate-x) calc(var(--spacing) * 0);
        }
      </style>
    </noscript>
    <Header {isHome} />
    <main>
      <slot />
    </main>
    <Footer />
    <Pagefind />
  </body>
</html>
